<section class="block">
    <div class="container">
        <header class="block__header">
            <h2 class="block__heading">Heading</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Expedita modi hic repellendus minus! Quam culpa
                asperiores mollitia voluptate! Nihil, laudantium?
            </p>
        </header>
        <div style="width: 30%; padding: 4rem">
            <div class="card card--secondary">
                <header class="card__header">Card Title</header>
                <div class="card__body">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium aut possimus facilis id
                    temporibus
                    inventore culpa obcaecati quos tenetur ut.
                </div>
            </div>
        </div>
    </div>
</section>